
// .k-textbox {
//     width: 350px;
//   }
//   .k-textbox .send-button {
//     color: #ff6358;
//     width: 44px;
//   }


.example {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}
.wrap {
    display: flex;
    justify-content: space-between;
}
.wrap .arrival-date {
    width: 90%;
    margin-right: 18px;
}
.k-form {
    width: 400px;
}